<!-- _form.html.erb -->
<%= simple_form_for(task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details, as: :text %>
  <%= f.check_box :complete unless task.new_record? %>
  <p> <%= f.button :submit %> </p>
<% end %>
